body {
    background-color: rgba(35, 35, 35, 1);
    color: #f0f0f0;
    Font-Family: Arial, Helvetica;
    Font-Size: 11pt;
}

h1 {
    font-size: 1.5rem;
    margin-left: 25px;
    margin-top: 30px;
}

table
{
    border: 1px solid;
    border-color: #0000 #0000 #CCC #0000;
    border: 1px solid rgb(190, 190, 190);
    margin-left: 25px;
}
tr:hover td
{
    background-color: #4C534C;
    color: rgb(195, 195, 35, 1);
}
a:link {
    color: #f0f0f0;
}
a:visited {
    color: green;
}
tr:nth-child(even)
{
    background-color: rgba(30, 30, 30, 0.80);
    color: #fff;
}
th {
    Text-Align: Left;
    Color: white;
    Padding: 8px;
    font-size: 1.1rem;
    background-color: #4C534C;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid rgb(190, 190, 190);
    cursor: pointer;
}

td {
    Vertical-Align: Top;
    Padding: 5px;
}


tr td:first-child {
    white-space: nowrap;
    border: 0;
}

.header {
    display: flex;
    align-items: left;
}
.timestamp {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 36px;
    float: right;
}

