
* {
    box-sizing: border-box;
}
  
.row {
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    float: left;
    width: 70%;
    padding: 5px;
}

.infoculumn {
    float: left;
    top: 0;
    z-index: 2;
    max-width: 30%;
    padding: 20px 10px 5px 5px;
    position: -webkit-sticky;
    position: sticky;
}

.row div.infocolumn img {
    max-width: 28%;
    height: auto;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    Font-Family: Arial, Helvetica;
    Font-Size: 11pt;
}

h1 {
    font-size: 1.5rem;
    margin-left: 25px;
    margin-top: 30px;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-left: 25px;
}

a:link {
    Color: rgb(59, 80, 59);
    text-decoration: none;
}

tr:hover td,
tr:hover td a
{
    Background-Color: rgb(84, 118, 84);
    Color: #ffffff;
}

a:visited {
    color: green;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    Text-Align: Left;
    Color: white;
    Padding: 8px;
    font-size: 1.1rem;
    background-color: #4C534C;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid rgb(190, 190, 190);
    cursor: pointer;
}

td {
    Vertical-Align: Top;
    Padding: 5px;
}


tr td:first-child {
    white-space: nowrap;
    border: 0;
}

table#news-table td:nth-of-type(4){
    display: none;
}
table#news-table thead tr th:nth-of-type(4) {
    display: none;
}

.header {
    display: flex;
    align-items: left;
}

.timestamp {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 36px;
    float: right;
}

#floatingimg {
    position: absolute;
    display: none;
    max-height: 200;
    z-index: 1;
    border: 2px solid  rgb(59, 80, 59);
    pointer-events: none;
  }